body {
    font-family: "PlayFair Display", Arial, "Times New Roman";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.col {
    width: 585px;
    float: left;
    padding-top: 350px;
}

.section {
    height: 1080px;
}

.section-blue {
    background-color: #66cddf;
}

.section-title {
    font-family: Raleway, Arial, "Times New Roman";
    font-size: 72px;
    font-weight: 700;
    line-height: 100px;
    margin: 0;
}

.menu {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin-left: 10px;
}

.menu li {
    float: left;
}

.menu-link {
    font-family: Lato, Arial, "Times New Roman";
    font-size: 13px;
    text-decoration: none;
    color: #222533;
    font-weight: bold;
    margin: auto 20px;
}

.menu-link:active {
    color: #04bfbf;
}

#creative {
    height: 979px;
    background: url("../images/prueba.png");
    background-size: cover;
}

#creative h1 {
    font-family: Raleway, Arial, "Times New Roman";
    font-size: 90px;
    font-weight: 800;
    line-height: 100px;
    color: white;
    margin: 0;
    padding-top: 300px;
}

.blue-word {
    color: #56c0d3
}

.white-word {
    color: white;
}

.bold-word {
    font-weight: bold;
}

#creative h2 {
    font-size: 36px;
    line-height: 19px;
    color: white;
    margin-top: 0;
    font-weight: normal;
    margin-top: 10px;
}

#creative a {
    margin-top: 20px;
}

.btn {
    font-family: Raleway, Arial, "Times New Roman";
    font-size: 14px;
    padding: 18.5px 47px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

.btn-round-corners {
    border-radius: 5px;
}

.btn-generic {
    color:  #222533;
    border: 1px solid white;
    background-color: white;
}

.btn-purchase:visited {
    color: #222533;
}

.btn-freatures {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin-left: 15px;
}

.btn-freatures:visited {
    color: white;
}

#introducing {
    height: 502px;
}

#introducing h2 {
    font-family: Raleway, Arial, "Times New Roman";
    font-size: 36px;
    font-weight: 700;
    line-height: 100px;
    padding-top: 100px;
    text-align: center;
    margin: 0;
}

#introducing h3 {
    font-size: 24px;
    text-align: center;
    color: #29d9c2;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
}

#introducing p {
    width: 1117px;
    font-size: 24px;
    text-align: center;
    margin: 50px auto;
    color: #a1b1bc;
    line-height: 40px;
}

#brand h2 {
    color:  #ffffff;
}

#brand h3 {
    color:  #ffffff;
    font-size: 24px;
    line-height: 19px;
    margin: 0;
    font-weight: normal;
}

#brand p {
    font-family: Lato, Arial, "Times New Roman";
    color:  #ffffff;
    font-size: 14px;
    line-height: 24px;
    width: 465px;
    margin-top: 50px;
}

.btn-black {
    color:  #ffffff;
    background-color: #2f2933;
    border:1px solid #2f2933;
}

.btn-black:visited {
    color: white;
}

#brand img {
    width: 510px;
    height: 340px;
}

#yosemite img {
    margin-right: 100px;
}

#yosemite h2 {
    margin-right: 200px;
}

#yosemite h3 {
    color: #a1b1bc;
    font-size: 24px;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
}

#yosemite p {
    width: 460px;
    font-family: Lato, Arial, "Times New Roman";
    font-size: 14px;
    line-height: 24px;
    color: #a1b1bc;
    margin-top: 50px;
}

.btn-blue {
    color: white;
    background-color: #29d9c2;
    border:1px solid #29d9c2;
}

.btn-blue:visited {
    color: white;
}


#legend h2 {
    color:  #ffffff;
}

#legend h3 {
    color:  #ffffff;
    font-size: 24px;
    line-height: 19px;
    margin: 0;
    font-weight: normal;
}

#legend p {
    font-family: Lato, Arial, "Times New Roman";
    color:  #ffffff;
    font-size: 14px;
    line-height: 24px;
    width: 465px;
    margin-top: 50px;
}

#legend img {
    width: 510px;
    height: 340px;
}

#paper img {
    margin-right: 100px;
}

#paper h2 {
    margin-right: 200px;
}

#paper h3 {
    color: #a1b1bc;
    font-size: 24px;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
}

#paper p {
    width: 460px;
    font-family: Lato, Arial, "Times New Roman";
    font-size: 14px;
    line-height: 24px;
    color: #a1b1bc;
    margin-top: 50px;
}

.btn-white {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.btn-white:visited {
    color: black;
}

#love-fox {
    height: 978px;
    background-color: #d3d2d0;
}

#love-fox h2 {
    text-align: center;
    font-family: Raleway, Arial, "Times New Roman";
    font-size: 90px;
    font-weight: bold;
    padding-top: 380px;
    margin: 0;
}

#love-fox a {
    margin-left: 480px;
    margin-top: 20px;
}

#the-fox {
    height: 960px;
    background-color: #222533;
}

#the-fox h2 {
    font-family: Raleway, Arial, "Times New Roman";
    color: white;
    font-size: 88.97px;
    line-height: 19px;
    font-weight: bold;
    margin: 0;
    padding-top: 350px;
    text-align: center;
}

#the-fox h3 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    font-weight: normal;
}

#the-fox p {
    font-family: Lato, Arial, "Times New Romes";
    color: #a1b1bc;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

.footer {
    height: 120px;
    background-color: #1a1c27;
}

.footer h2 {
    font-family: Lato, Arial, "Times New Roman";
    font-size: 18px;
    color: #a1b1bc;
    margin: 0;
    text-align: center;
    padding-top: 35px;
}

.footer p {
    font-family: Lato, Arial, "Times New Roman";
    font-size: 12px;
    color: #a1b1bc;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
