body {
    font-family: "PlayFair Display";
}

header {
    padding: 20px 0px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.wrapper-inline {
    display: inline-block;
}

.link-menu {
    height: 110px;
    font-family: Lato;
    font-size: 13px;
    text-decoration: none;
    color: #222533;
    font-weight: bold;
    margin: auto 20px;
}

.link-menu:active {
    color: #04bfbf;
}

#creative {
    height: 979px;
    background: url("../images/prueba.png");
    background-size: cover;
}

#creative h1 {
    font-family: Raleway;
    font-size: 90px;
    font-weight: 800;
    line-height: 100px;
    color: white;
    margin: 0;
    padding-top: 300px;
}

#creative span {
    color: #56c0d3
}

#creative h2 {
    font-size: 36px;
    line-height: 19px;
    color: white;
    margin-top: 0;
    font-weight: 400;
    margin-top: 10px;
}

#btn-purchase {
    font-family: Raleway;
    color:  #222533;
    font-size: 14px;
    padding: 18.5px 47px;
    font-weight: 700;
    border: 1px solid white;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

#btn-purchase:visited {
    color: black;
}

#btn-freatures {
    font-family: Raleway;
    font-size: 14px;
    padding: 18.5px 47px;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid white;
    margin-left: 15px;
    text-decoration: none;
    display: inline-block;
}

#btn-freatures:visited {
    color: white;
}

#introducing {
    height: 502px;
}

#introducing h2 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    line-height: 100px;
    padding-top: 100px;
    text-align: center;
    margin: 0;
}

#introducing h3 {
    font-size: 24px;
    text-align: center;
    color: #29d9c2;
    line-height: 19px;
    font-weight: 400;
    margin: 0;
}

#introducing p {
    width: 1117px;
    font-size: 24px;
    text-align: center;
    margin: 50px auto;
    color: #a1b1bc;
    font-weight: 400;
    line-height: 40px;
}

#brand {
    height: 1080px;
    background-color: #66cddf;
}

#brand h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 100px;
    margin: 0;
    padding-top: 350px;
}

#brand h3 {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    font-weight: normal;
}

#brand p {
    font-family: Lato;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 465px;
    margin-top: 50px;
}

#btn-download {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    padding: 18.5px 47px;
    color:  #ffffff;
    font-weight: bold;
    background-color: #2f2933;
    border:1px solid #2f2933;
    text-decoration: none;
    display: inline-block;
}

#btn-download:visited {
    color: white;
}

#brand img {
    width: 510px;
    height: 340px;
    margin-left: 100px;
}

#yosemite {
    height: 1080px;
}

#yosemite img {
    margin-top: 350px;
    margin-right: 100px;
}

#yosemite h2 {
    font-family: Raleway;
    font-size: 72px;
    font-weight: 700;
    line-height: 100px;
    margin: 0;
}

#yosemite h3 {
    color: #a1b1bc;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
}

#yosemite p {
    width: 460px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a1b1bc;
    margin-top: 50px;
}

#btn-download2 {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    padding: 18.5px 47px;
    color: white;
    background-color: #29d9c2;
    border:1px solid #29d9c2;
    text-decoration: none;
    display: inline-block;
}

#btn-download2:visited {
    color: white;
}

#legend {
    height: 1080px;
    background-color: #66cddf;
}

#paper {
    height: 1080px;
}

#love-fox {
    height: 978px;
    background-color: #d3d2d0;
}

#the-fox {
    height: 960px;
    background-color: #222533;
}

.footer {
    height: 120px;
    background-color: #1a1c27;
}
