header {
    padding: 20px 0px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.wrapper-inline {
    display: inline-block;
}

.link-menu {
    height: 110px;
    text-decoration: none;
    color: #222533;
    font-weight: bold;
    margin: auto 20px;
}

.link-menu:active {
    color: #04bfbf;
}

.section1 {
    height: 979px;
    background: url("../images/prueba.png");
    background-size: cover;
}

.section1 h1 {
    color: white;
    font-size: 5em;
    margin: 0;
    padding-top: 300px;
}

.section1 span {
    color: #56c0d3
}

.section1 p {
    font-size: 2em;
    color: white;
    margin-top: 0;
}

#btn-purchase {
    width: 219px;
    height: 59px;
    font-weight: bold;
}

#btn-freatures {
    width: 219px;
    height: 59px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border-color: white;
    margin-left: 15px;
}

.section2 {
    height: 502px;
}

.section2 h2 {
    font-size: 2em;
    padding-top: 150px;
    text-align: center;
    margin: 0;
}

.section2 h3 {
    font-size: 1.5em;
    text-align: center;
    color: #29d9c2;
    margin-top: 10px;
    font-weight: normal;
}

.section2 p {
    width: 1117px;
    font-size: 1.5em;
    text-align: center;
    margin: 50px auto;
    color: #a1b1bc;
}

.section3 {
    height: 1080px;
    background-color: #66cddf;
}

.section3 h2 {
    color: white;
    font-size: 4em;
    margin: 0;
    padding-top: 350px;
}

.section3 h3 {
    color: white;
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
}

.section3 p {
    color: white;
    width: 465px;
    margin-top: 50px;
}

#btn-download {
    width: 219px;
    height: 59px;
    color: white;
    font-weight: bold;
    background-color: #2f2933;
    border-color: #2f2933;
    margin-top: 10px;
}

.section3 img {
    width: 510px;
    height: 340px;
    margin-left: 100px;
}

.section4 {
    height: 1080px;
}

.section4 img {
    margin-top: 350px;
    margin-right: 100px;
}

.section4 h2 {
    font-size: 4em;
    margin: 0;
}

.section4 h3 {
    color: #a1b1bc;
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
}

.section4 p {
    width: 460px;
    color: #a1b1bc;
    margin-top: 50px;
}

#btn-download2 {
    width: 219px;
    height: 59px;
    color: white;
    background-color: #29d9c2;
    font-weight: bold;
    border-color: #29d9c2;
}

.section5 {
    height: 1080px;
    background-color: #66cddf;
}

.section6 {
    height: 1080px;
}

.section7 {
    height: 978px;
    background-color: #d3d2d0;
}

.section8 {
    height: 960px;
    background-color: #222533;
}

.footer {
    height: 120px;
    background-color: #1a1c27;
}
