header {
    padding: 20px 0px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.link-menu {
    height: 110px;
    text-decoration: none;
    color: #222533;
    font-weight: bold;
    margin: auto 30px;
}

.link-menu:active {
    color: #04bfbf;
}

.section1 {
    height: 979px;
    background: url("../images/backgound.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    
}

.section2 {
    height: 502px;
}

.section3 {
    height: 1080px;
    background-color: #66cddf;
}

.section4 {
    height: 1080px;
}

.section5 {
    height: 1080px;
    background-color: #66cddf;
}

.section6 {
    height: 1080px;
}

.section7 {
    height: 978px;
    background-color: #d3d2d0;
}

.section8 {
    height: 960px;
    background-color: #222533;
}

.footer {
    height: 120px;
    background-color: #1a1c27;
}
